/* =========================================================
   GLOBAL.CSS
   Base styles used by every page
   ========================================================= */

body {
    margin: 0;
    padding: 0;
    font-family: "PT Serif", serif;
}

html, body {
    overflow-x: hidden;
}